<!DOCTYPE html>
<html lang="en">
<head>
    <title>BugTracker</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Fonts/Icons -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS -->
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/Content/DataTables")
</head>

<body id="top" class="bg-brand-full">
    <!-- Nav -->
    @{Html.RenderAction("NavRender", "Account");}
    <!-- Header -->
    <div class="page-header" data-parallax="true" style="height: 600px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- ViewBag Header -->
                    <h1 class="text-left"><b>@ViewBag.Header</b></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- ViewBag Subheader -->
                    <h3 class="text-left">@ViewBag.SubHeader</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
            <!-- Content Section -->
            @RenderBody()
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer footer-default">
        <div class="container">
            <nav class="float-left">
                <ul>
                    <li class="text-white">
                        <a href="https://www.github.com/drrky-g">
                            Github
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright float-right text-whit e">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script> - Derrick Gordon
            </div>
        </div>
        @RenderSection("modals", required: false)
        <!-- Scripts -->
        <!-- jQ -->
        @Scripts.Render("~/bundles/jquery")
        <!-- DataTables -->
        @Scripts.Render("~/bundles/Scripts/DataTables")
        <!-- UI kit scripts -->
        @Scripts.Render("~/bundles/materialkit")
        <!-- initialize -->
        <script type="text/javascript">
            //on document readt
            $(document).ready(function () {
                
                $('[data-toggle="popover"]').popover();
                //initiate dataTables
                $('.table').DataTable();
            })
            
        </script>

        @RenderSection("scripts", required: false)
    </footer>
</body>

</html>
