@using DG_BugTracker.ViewModels
@model UserProfileViewModel

<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="100">
    <div class="container">
        <div class="navbar-translate">
            <!-- Nav Branding -->
            <a class="navbar-brand" href="@Url.Action("Dashboard", "Home")">
                <i class="material-icons">bug_report</i>
                BugTracker
            </a>
            <!-- Responsive Toggle -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <!-- Nav List -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="@Url.Action("Dashboard", "Home")" class="nav-link">
                        <i class="material-icons">home</i>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Archive", "Tickets")" class="nav-link">
                        <i class="material-icons">list</i>
                        Ticket Archive
                    </a>
                </li>
                @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                {
                    <li class="nav-item">
                        <a href="@Url.Action("UserIndex", "RoleManagement")" class="nav-link">
                            <i class="material-icons">supervisor_account</i>
                            User Index
                        </a>
                    </li>
                }
                <!-- notification section-->
                <li class="nav-item">
                    <!-- try and make 'data-popover-content' attribute work-->
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#myNotifications">
                        <i class="material-icons">notifications</i>
                        Notifications
                    </a>
                </li>
                <!--------------------------------------------------------------------------------------------------------------
                        I need to make a span that shows the users unread notification count that anchors off of this button
                        I need to make a collapse that anchors off of this button that contains all of the users notifications
                    ----------------------------------------------------------------------------------------------------------->
                <li class="nav-item">
                    <a href="#" data-toggle="modal" data-target="#profileModal" class="nav-link">
                        <img src="@Model.AvatarPath" class="img-raised rounded-circle img-fluid" style="height: 30px; width: 30px; margin-right: 8px;" />
                        Account
                    </a>
                </li>

            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a href="@Url.Action("LogOff", "Account")" class="nav-link">
                        <i class="material-icons">exit_to_app</i>
                        Log Out
                    </a>
                </li>
            }
            </ul>
        </div>
    </div>
</nav>
<div class="modal fade" id="myNotifications" tabindex="-1" role="alert">
    <div class="modal-dialog modal-lg" role="alertdialog">
        <div class="modal-content">
            <div class="modal-header">
                My Unread Notifications
            </div>
            <div class="modal-body">
                @if (Model.MyNotifications.Count() == 0)
                {
                    <p class="text-muted">You have no new notifications</p>
                }
                else
                {
                    foreach (var unread in Model.MyNotifications)
                    {
                        <div class="alert alert-info">
                            <div class="container bg-brand-primary">
                                @using (Html.BeginForm("MarkAsRead", "TicketNotifications", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("Id", unread.Id)
                                    <div class="alert-icon">
                                        <img src="@unread.Sender.AvatarPath"  alt="@unread.Sender.FirstName"style="height: 20px; width:20px;" />
                                    </div>
                                    <button type="submit" class="close">
                                        <span aria-hidden="true"><i class="material-icons">check</i></span>
                                    </button>
                                    <b>@unread.Sender.FullName</b> @unread.NotificationBody.PadLeft(5)
                                }

                            </div>
                        </div>
                    }
                }
            </div>
            <div class="modal-footer">
                @Html.ActionLink("View Notifications", "MyNotifications", "TicketNotifications", null, new { @class = "btn btn-link brand-teritary-color"})
                <button class="btn btn-link btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- profile edit modal -->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="form">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-center brand-primary-color">
                    Update Your Profile
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            @using (Html.BeginForm("ChangeUserProfile", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                <div class="modal-body">
                    <div class="row">
                        <label class="control-label text-left col-md-12">
                            First Name:
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- input -->
                            @Html.TextArea(Model.FirstName, new { @class = "form-control", rows = "1" })
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label text-left col-md-12">
                            Last Name:
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- input -->
                            @Html.TextArea(Model.LastName, new { @class = "form-control", rows = "1" })
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label text-left col-md-12">
                            Email:
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- input -->
                            @Html.TextArea(Model.Email, new { @class = "form-control", rows = "1" })
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label text-left col-md-12">
                            Avatar:
                        </label>
                        <div class="col-md-12">
                            <!-- input -->
                            <input id="AvatarPath" class="form-control" type="file" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @Html.ActionLink("Change Password", "ChangePassword", "Manage", null, htmlAttributes: new { @class = "btn btn-link brand-primary-color" })
                    <button class="btn btn-link brand-secondary-color" type="submit">Update</button>
                    <button class="btn btn-link btn-danger" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>




