@{ Layout = null;
}

@using DG_BugTracker.Models
@model LoginViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Log In - Bug Tracker
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!-- Fonts and icons -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    @Styles.Render("~/bundles/css")
</head>

<body class="login-page bg-brand-full">
    <div class="page-header header-filter" >
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card card-login">
                        <div class="card-header whitebg text-center">
                            <h3 class="card-title brand-primary-color">BugTracker</h3>
                        </div>
                        <!-- body / form-->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button data-toggle="popover" data-trigger="hover" title="Roles:" data-html="true" data-content="<dl><dt><b>Admin</b></dt><dd>Most control. You can do everything except submit tickets.</dd><dt><b>Project Manager</b></dt><dd>Manage a team of submitters and developers on the projects the admin puts you on.</dd><dt><b>Developer</b></dt><dd>Edit tickets you're assigned to. View the projects and tickets you're on.</dd><dt><b>Submitter</b></dt><dd>Submit tickets to the projects you're assigned to.</dd></dl>"class="btn btn-link brand-primary-color btn-sm">
                                        Which role does what?
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h6 class="description text-center">
                                        Demo Users:
                                    </h6>
                                </div>
                            </div>
                            <div class="row">
                                <span class="col-sm-2"></span>
                                <!-- Demo Users -->
                                <div class="col-sm-2 text-center">
                                    <!-- Admin Log-In -->
                                    @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("demoEmail", "demoAdmin")
                                        <button type="submit" data-toggle="tooltip" data-placement="left" title="Admin Role" data-container="body" class="btn btn-link btn-just-icon btn-round">
                                            <img src="~/Avatars/fury.jpeg" class="img-circle rounded-circle" style="width: 40px; height: 40px;" />
                                        </button>
                                    }
                                </div>
                                <div class="col-sm-2 text-center">
                                    <!-- PM Login -->
                                    @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("demoEmail", "demoPM")
                                        <button type="submit" data-toggle="tooltip" data-placement="top" title="Project Manager Role" data-container="body" class="btn btn-link btn-just-icon btn-round">
                                            <img src="~/Avatars/ironman.jpg" class="img-circle rounded-circle" style="width: 40px; height: 40px;" />
                                        </button>
                                    }
                                </div>
                                <div class="col-sm-2 text-center">
                                    <!-- Developer Login -->
                                    @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("demoEmail", "demoDev")
                                        <button type="submit" data-toggle="tooltip" data-placement="top" title="Developer Role" class="btn btn-link btn-just-icon btn-round">
                                            <img src="~/Avatars/hulk.jpg" class="img-circle rounded-circle" style="width: 40px; height: 40px;" />
                                        </button>
                                    }
                                </div>
                                <div class="col-sm-2 text-center">
                                    <!-- Submitter Login -->
                                    @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("demoEmail", "demoSub")
                                        <button type="submit" data-toggle="tooltip" data-placement="right" title="Submitter Role" class="btn btn-link btn-just-icon btn-round">
                                            <img src="~/Avatars/spiderman.png" class="img-circle rounded-circle" style="width: 40px; height: 40px;" />
                                        </button>
                                    }
                                </div>
                                <span class="col-sm-2"></span>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h6 class="description text-center" style="margin-bottom:0px; margin-top: 20px;">Sign in with your account:</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary("", new { @class = "text-danger text-center" })

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">mail_outline</i>
                                                </span>
                                            </div>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">lock_outline</i>
                                                </span>
                                            </div>
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                        </div>
                                        <div class="footer text-center">
                                            <button type="submit" class="btn btn-wd btn-lg btn-link brand-primary-color">Log In</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    @Html.ActionLink("Create An Account", "Register", "Account", new { @class = "btn btn-sm bg-brand-secondary-solid" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    @Html.ActionLink("Forgot your password?", "ForgotPassword", "Account", new { @class = "btn btn-white btn-sm brand-primary-color" })
                </div>
            </div>
        </div>
    </div>
    <div>
        <footer class="footer">
            <div class="container">

                <div class="copyright float-right">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script> - Derrick Gordon
                </div>
            </div>
        </footer>
    </div>
    <!--   Core JS Files   -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialkit")
    <script>
        $(document).ready(function () {
            //Enable tooltips for demo users
            $('[data-toggle="tooltip"]').tooltip();
            //Enable pop-up to describe roles
            $('[data-toggle="popover"]').popover();
        })
    </script>
</body>

</html>
