@{ Layout = null;
}

@using DG_BugTracker.Models
@model RegisterViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Register - Bug Tracker
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="~/Content/LogInAndRegisterAssets/css/material-kit.css" rel="stylesheet" />
</head>

<body class="login-page sidebar-collapse">
    <div class="page-header header-filter" style="background-image: url('/Content/LogInAndRegisterAssets/img/bg2.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card card-login">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form", enctype = "Multipart/form-data", role = "form" }))
                        {



                            @Html.AntiForgeryToken()


                            <!-- 3rd party OAuth buttons -->
                            <div class="card-header card-header-info text-center">
                                <h4 class="card-title">Register</h4>

                            </div>
                            <p class="description text-center">Create An Account...</p>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <!-- actual form -->
                            <div class="card-body">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">mail_outline</i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">perm_identity</i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">perm_identity</i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">perm_identity</i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", placeholder = "Display Name" })
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">lock</i>
                                        </span>
                                    </div>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">lock</i>
                                        </span>
                                    </div>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">add_a_photo</i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(m => m.AvatarPath, new { @class = "form-control", type = "file", placeholder = "Profile Picture" })
                                </div>
                            </div>
                            <div class="text-center">

                                <button type="submit" class="btn btn-wd btn-lg btn-link btn-info">Register</button>
                            </div>

                        }
                    </div>
                    <div class="text-center has-white">
                        @Html.ActionLink("Have an account?", "Login", "Account", new { @class = "btn btn-info btn-wd"} )
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">

                <div class="copyright float-right">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script> - Derrick Gordon
                </div>
            </div>
        </footer>
    </div>
    <!--   Core JS Files   -->
    <script src="~/Content/LogInAndRegisterAssets/js/core/jquery.min.js"></script>
    <script src="~/Content/LogInAndRegisterAssets/js/core/popper.min.js"></script>
    <script src="~/Content/LogInAndRegisterAssets/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/Content/LogInAndRegisterAssets/js/plugins/moment.min.js"></script>


    <script src="~/Content/LogInAndRegisterAssets/js/material-kit.js"></script>
</body>

</html>
