@using DG_BugTracker.ViewModels
@using DG_BugTracker.Helpers
@model IEnumerable<UserProfileViewModel>

@{
    var roleHelper = new UserRoleHelper();
}



@using (Html.BeginForm())
{
    <div class="card col-md-9">
        <div class="card-header card-header-success">

            <div class="row">
                <div class="col-md-8">
                    <h4 class="card-title ">Manage Multiple Roles</h4>
                    <p class="card-category">Assign Multiple Team Members to Roles.</p>
                </div>
            </div></div>
        <div class="card-body">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-8" id="multiselect">
                    @Html.ListBox("Users", null, new { @class = "form-control", size = "25", style = "height: 125px" })
                </div>
                <div class="col-md-4" id="dropdown">
                    @Html.DropDownList("RoleName", null, "--Select Role--", new { @class = "form-control text-success" })
                    <button type="submit" class="btn btn-wd btn-success">Submit Changes</button>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
 }


<div class="table-responsive">
    <table class="table">
        <thead>
        <th class="text-success">
            <i class="material-icons">perm_identity</i>
        </th>
        <th class="text-success">
            Email Address
        </th>
        <th class="text-success">
            First Name
        </th>
        <th class="text-success">
            Last Name
        </th>
        <th class="text-success">
            Role
        </th>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        <img src="@user.AvatarPath" style="width: 30px; height: 30px; border-radius: 40px;" />
                    </td>

                    <td class="text-white">
                        @user.Email
                    </td>
                    <td class="text-white">
                        @user.FirstName
                    </td>
                    <td class="text-white">
                        @user.LastName
                    </td>
                    <td class="text-white">
                        @roleHelper.ListUserRoles(user.Id).FirstOrDefault()
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<div class="text-left has-white">
    @Html.ActionLink("Return to User Index", "UserIndex", "RoleManagement", new { @class = "btn btn-success" })
</div>

<style>
    select {
        height: 300px;
    }
</style>
