@using DG_BugTracker.ViewModels
@using DG_BugTracker.Helpers
@model IEnumerable<UserProfileViewModel>

@{ 
    var roleHelper = new UserRoleHelper();
}

<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">

                    <div class="row">
                        <div class="col-md-10">
                            <h4 class="card-title ">User Index</h4>
                            <p class="card-category">This table contains all registered application users.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" id="manageAllRoles">
                            @Html.ActionLink("Manage All User Roles", "ManageMultipleRoles", "RoleManagement", null, new { @class = "btn btn-white btn-sm text-danger" })
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <th>
                                <i class="material-icons">perm_identity</i>
                            </th>
                            <th>
                                Id
                            </th>
                            <th>
                                Email Address
                            </th>
                            <th>
                                First Name
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>
                                Role
                            </th>
                            <th class="text-center">
                                Options
                            </th>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="@user.AvatarPath" style="width: 30px; height: 30px; border-radius: 40px;" />
                                        </td>
                                        <td class="text-white">
                                            @user.Id
                                        </td>
                                        <td class="text-white">
                                            @user.Email
                                        </td>
                                        <td class="text-white">
                                            @user.FirstName
                                        </td>
                                        <td class="text-white">
                                            @user.LastName
                                        </td>
                                        <td class="text-white">
                                            @roleHelper.ListUserRoles(user.Id).FirstOrDefault()
                                        </td>
                                        <td class="text-primary text-center">
                                            <!-- Link for Assigning Role -->
                                            @Html.ActionLink("Manage Role", "ManageSingleRole", "RoleManagement", new { userId = user.Id }, new { @class = "btn btn-success btn-sm" })
                                            <!-- Link for Assigning Project -->
                                            @Html.ActionLink("Manage Project(s)", "ManageUserProjects", "RoleManagement", new { id = user.Id }, new { @class = "btn btn-warning btn-sm" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<style>
    #manageAllRoles {
        margin-bottom: -35px;
    }

</style>
