@model DG_BugTracker.Models.ChangePasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Change Your Password
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    @Styles.Render("~/bundles/css")
</head>

<body class="login-page sidebar-collapse bg-brand-full">
    <div class="page-header header-filter" style="background-image: url('/Content/assets/img/sidebar-1.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <!--  Password form -->
                    <div class="card">
                        <div class="card-header whitebg">
                            <h4 class="brand-teritary-color card-title text-center">Change Your Password</h4>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                                    <div class="col-md-12">
                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                                    <div class="col-md-12">
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                    <div class="col-md-12">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row text-danger">
                                    <div class="col-md-12">
                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 text-center">
                                        <input type="submit" value="Change password" class="btn bg-brand-secondary-solid" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <!-- Return to Dashboard -->
                    <div class="text-center has-white">
                        @Html.ActionLink("Return to Dashboard", "Dashboard", "Home", null, new { @class = "btn btn-white brand-teritary-color btn-wd" })
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">

                <div class="copyright float-right">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script> - Derrick Gordon
                </div>
            </div>
        </footer>
    </div>
    <!--   Core JS Files   -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialkit")
</body>

</html>