@using DG_BugTracker.ViewModels
@using DG_BugTracker.Helpers
@model MyDashboard
@{
    ViewBag.Header = $"Welcome back, {Model.UserName}.";
    ViewBag.Subheader = $"You're assigned to {Model.MyProjectCount} project(s) and {Model.MyTicketCount} ticket(s).";
    var rH = new UserRoleHelper();
}
<div class="row">
    <div class="section col-md-12">
        <div class="card card-nav-tabs card-plain">
            <div class="card-header bg-brand-secondary">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <!-- tab navigation -->
                            <li class="nav-item">
                                <a class="nav-link active show" href="#ticketSection" data-toggle="tab">Tickets<div class="ripple-container"></div></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#projectSection" data-toggle="tab">Projects<div class="ripple-container"></div></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#recentActivity" data-toggle="tab">Recent Activity<div class="ripple-container"></div></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#statBreakdown" data-toggle="tab">Breakdown<div class="ripple-container"></div></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body ">
                <div class="tab-content text-center">
                    <div class="tab-pane active show" id="ticketSection">
                        <!-- ticket table-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table id="ticketTable" class="table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Project
                                                    </th>
                                                    <th>
                                                        Id
                                                    </th>
                                                    <th>
                                                        Title
                                                    </th>
                                                    <th hidden>
                                                        Description
                                                    </th>
                                                    <th>
                                                        Created
                                                    </th>
                                                    <th>
                                                        Updated
                                                    </th>
                                                    <th>
                                                        Type
                                                    </th>
                                                    <th>
                                                        Priority
                                                    </th>
                                                    <th>
                                                        Status
                                                    </th>
                                                    <th>
                                                        Submitter
                                                    </th>
                                                    <th>
                                                        Developer
                                                    </th>
                                                    <th>
                                                        Details
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-left">
                                                @foreach (var ticket in Model.MyTickets)
                                                {
                                                    <tr id="@ticket.RowTarget">
                                                        <td id="@ticket.ProjectTarget">
                                                            @ticket.Project.Name
                                                        </td>
                                                        <td id="@ticket.IdTarget">
                                                            @ticket.Id
                                                        </td>
                                                        <td id="@ticket.TitleTarget">
                                                            @ticket.Title
                                                        </td>
                                                        <td hidden id="@ticket.DescriptionTarget">
                                                            @ticket.Description
                                                        </td>
                                                        <td id="@ticket.CreatedTarget">
                                                            @ticket.Created.ToString("MM/dd/yyyy h:mm tt")
                                                        </td>
                                                        <td id="@ticket.UpdatedTarget">
                                                            <!-- need to format this -->
                                                            @ticket.Updated
                                                        </td>
                                                        <td id="@ticket.TypeTarget">
                                                            @ticket.TicketType.Name
                                                        </td>
                                                        <td id="@ticket.PriorityTarget">
                                                            @ticket.TicketPriority.Name
                                                        </td>
                                                        <td id="@ticket.StatusTarget">
                                                            @ticket.TicketStatus.Name
                                                        </td>
                                                        <td id="@ticket.SubTarget">
                                                            @ticket.OwnerUser.FullName <!-- maybe just user name or avatar? idk... -->
                                                        </td>
                                                        <td id="@ticket.DevTarget">
                                                            @if (ticket.AssignedToUser != null)
                                                            {
                                                                @ticket.AssignedToUser.FullName
                                                            }
                                                            else
                                                            {
                                                                <p>Unassigned</p>
                                                            }
                                                            <!-- ^^ same as above ^^-->
                                                        </td>
                                                        <td>
                                                            <button id="@ticket.BtnTarget" class="detailFire btn btn-sm btn-link btn-success" data-toggle="modal" data-target="#detailTargetWindow">
                                                                Details
                                                            </button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        @foreach (var ticket in Model.MyTickets)
                        {
                            <div hidden>
                                <!-- User Actions (Footer) -->
                                <div id="@ticket.UserActionTarget">
                                    <!-- links rendering based on users abilities-->
                                    @Html.ActionLink("Edit Ticket", "Edit", "Tickets", new { Id = ticket.Id }, new { @class = "btn btn-link brand-secondary-color" })
                                    @if (User.IsInRole("Developer"))
                                    {
                                        <!--developer: accept ticket(set to in progress automatically/ set to on hold automatically)-->
                                        using (Html.BeginForm("SetTicketInProgress", "Tickets", FormMethod.Post, new { style="margin-bottom: 0px;"}))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.Hidden("Id", ticket.Id)
                                            <button type="submit" class="btn btn-link brand-secondary-color">Set As "In Progress"</button>
                                        }
                                        using (Html.BeginForm("SetTicketOnHold", "Tickets", FormMethod.Post, new { style="margin-bottom: 0px;"}))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.Hidden("Id", ticket.Id)
                                            <button type="submit" class="btn btn-link brand-secondary-color">Set As "On Hold"</button>
                                        }
                                    }
                                    @if (User.IsInRole("Project Manager"))
                                    {
                                        @Html.ActionLink("Assign Developer", "AssignTicket", "Tickets", new { Id = ticket.Id }, new { @class = "btn btn-link brand-secondary-color" })
                                    }

                                    <button class="btn btn-link btn-danger" data-dismiss="modal">Close</button>
                                </div>
                                <!-- Attachment Container-->
                                <div id="@ticket.AttachmentContainerTarget">
                                    @foreach (var attachment in ticket.TicketAttachments)
                                    {
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                @attachment.Created.ToString("MM/dd/yyyy h:mm tt")
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                @attachment.User.FullName
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                @attachment.Description
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 float-right">
                                                <a href="@attachment.FilePath" download><i class="material-icons brand-teritary-color">cloud_download</i></a>
                                            </div>
                                        </div>
                                        <hr />
                                    }
                                </div>
                                <!-- Comments Container-->
                                <div id="@ticket.CommentContainerTarget">
                                    @foreach (var comment in ticket.TicketComments)
                                    {
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                @comment.Created.ToString("MM/dd/yyyy h:mm tt")
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                @comment.User.FullName
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                @comment.Body
                                            </div>
                                        </div>
                                        <hr />

                                    }
                                </div>
                                <!-- Histories Container -->
                                <div id="@ticket.HistoryContainerTarget">
                                    @foreach (var history in ticket.TicketHistories)
                                    {
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                @history.User.FullName
                                            </div>
                                            <div class="col-md-4 text-left">
                                                @history.Property
                                            </div>
                                            <div class="col-md-4 text-left">
                                                @history.OldValue
                                            </div>
                                            <div class="col-md-4 text-left">
                                                @history.NewValue
                                            </div>
                                        </div>
                                    }
                                </div>
                                <!-- Dev Avatar string -->
                                <div id="@ticket.DevAvatarTarget">
                                    @if (ticket.AssignedToUserId != null)
                                    {
                                        @ticket.AssignedToUser.AvatarPath
                                    }
                                    else
                                    {
                                        <p>avatar-placeholder.png</p>
                                    }
                                </div>
                                <!-- Sub Avatar string -->
                                <div id="@ticket.SubAvatarTarget">
                                    @ticket.OwnerUser.AvatarPath
                                </div>
                            </div>
                        }

                    </div>
                    <div class="tab-pane" id="projectSection">
                        <!-- project listings-->
                        @foreach (var project in Model.MyProjects)
                        {
                            <div class="row">
                                <span class="col-md-1"></span>
                                <div class="col-md-10">
                                    <div class="card" style="margin-bottom: 15px;">
                                        <div class="card-header text-white bg-brand-teritary" style="margin-left: 15px; margin-right: 15px;">
                                            <h3 class="text-left">@project.Name <small class="text-white"> (Id: @project.Id)<br /></small></h3>
                                            <p class="pull-left" >Project Created: @project.Created.ToString("MM/dd/yyyy h:mm tt")</p>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <h6 class="text-center">Description</h6>
                                                            <!-- description-->
                                                            <p class="text-left">@project.Description</p>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <h6 class="text-center">Tickets</h6>
                                                            <!-- tickets-->
                                                            @foreach (var ticket in project.Tickets)
                                                            {
                                                                <div class="row text-left">
                                                                    <div class="col-md-12 text-left">
                                                                        @ticket.Title [@ticket.TicketStatus.Name]
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                        <div class="col-md-4">
                                                            <h6 class="text-center"> Team</h6>
                                                            <!-- users-->
                                                            @foreach (var user in project.Users)
                                                            {
                                                                <div class="row text-left">
                                                                    <div class="col-md-2 text-left">
                                                                        <img src="@user.AvatarPath" class="img-fluid img-raised rounded-circle" style="width: 20px; height: 20px;" />
                                                                    </div>
                                                                    <div class="col-md-10 text-left">
                                                                        @user.FullName (@rH.ListUserRoles(user.Id).FirstOrDefault())
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            @if (User.IsInRole("Project Manager") || User.IsInRole("Admin"))
                                            {
                                                @Html.ActionLink("Edit", "Edit", "Projects", new { id = project.Id }, htmlAttributes: new { @class = "btn btn-link btn-warning" })
                                            }
                                        </div>
                                    </div>
                                </div>
                                <span class="col-md-1"></span>
                            </div>


                        }

                        
                    </div>
                    <!-- recent activity -->
                    <div class="tab-pane" id="recentActivity">
                        <!-- recent activity accordion-->
                        <!-- set card headers to be buttons -->
                        <div class="accordion" id="recentStuff">
                            <!-- notifications -->
                            <div class="card">
                                <div class="card-header whitebg" id="recentNotificationsHeader" data-toggle="collapse" data-target="#recentNotifications" aria-expanded="true" aria-controls="recentNotifications">
                                    Notifications
                                </div>
                                <div id="recentNotifications" class="collapse show" data-parent="#recentStuff">
                                    <div class="card-body">
                                        <div class="container">
                                            @if (Model.RecentNotifications.Count > 0)
                                            {
                                                foreach (var notification in Model.RecentNotifications)
                                                {
                                                    if (notification.ReadStatus == true)
                                                    {
                                                        <div class="row">
                                                            <div class="col-md-12 text-left">
                                                                <img src="@notification.Sender.AvatarPath" class="img-fluid img-raised rounded" style="height: 25px; width: 25px;" />
                                                                <b>@notification.Sender.FullName</b>
                                                                @notification.Created.ToString("MM/dd/yyyy h:mm tt")
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12 text-left">
                                                                <p>Ticket: @notification.Ticket.Title (Id: @notification.TicketId)</p>
                                                                <br />
                                                                @notification.NotificationBody
                                                            </div>
                                                        </div>
                                                        <hr />
                                                    }
                                                    else
                                                    {
                                                        using (Html.BeginForm("MarkAsRead", "TicketNotifications", FormMethod.Post))
                                                        {
                                                            @Html.AntiForgeryToken();
                                                            @Html.Hidden("Id", notification.Id);

                                                            <div class="row">
                                                                <div class="col-md-12 text-left">
                                                                    <img src="@notification.Sender.AvatarPath" class="img-fluid img-raised rounded" style="height: 25px; width: 25px;" />
                                                                    <b>@notification.Sender.FullName</b>
                                                                    @notification.Created.ToString("MM/dd/yyyy h:mm tt")
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <span class="col-md-1"></span>
                                                                <div class="col-md-11">
                                                                    <p class="text-left">@notification.Ticket.Title (Id: @notification.TicketId)</p>
                                                                    <br />
                                                                    @notification.NotificationBody
                                                                    <br />
                                                                    <button type="submit" class="btn btn-link brand-secondary-color">Mark As Read</button>
                                                                </div>
                                                            </div>
                                                            <hr />
                                                        }
                                                    }
                                                }
                                                @Html.ActionLink("View All Notifications", "MyNotifications", "TicketNotifications", null, htmlAttributes: new { @class="btn btn-link brand-primary-color"})
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-md-12 text-center">
                                                        <p>You have no notifications.</p>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- comments -->
                            <div class="card">
                                <div class="card-header whitebg" id="recentCommentsHeader" data-toggle="collapse" data-target="#recentComments">
                                    Comments
                                </div>
                                <div id="recentComments" class="collapse" data-parent="#recentStuff">
                                    <div class="card-body">
                                        <div class="container">
                                            @if (Model.RecentComments.Count > 0)
                                            {
                                                foreach (var comment in Model.RecentComments)
                                                {
                                                    <div class="row">
                                                        <div class="col-md-12 text-left">
                                                            <img src="@comment.User.AvatarPath" class="img-fluid img-raised rounded" style="height: 25px; width: 25px;" />
                                                            <b>@comment.User.FullName</b>
                                                            @comment.Created.ToString("MM/dd/yyyy h:mm tt")
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <span class="col-md-1"></span>
                                                        <div class="col-md-11 text-left">
                                                            @comment.Body
                                                        </div>
                                                    </div>
                                                    <hr />
                                                }
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-md-12 text-center">
                                                        <p>You have no comments.</p>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- attachments -->
                            <div class="card">
                                <div class="card-header whitebg" id="recentAttachmentsHeader" data-toggle="collapse" data-target="#recentAttachments">
                                    Attachments
                                </div>
                                <div id="recentAttachments" class="collapse" data-parent="#recentStuff">
                                    <div class="card-body">
                                        <div class="container">
                                            @if (Model.RecentAttachments.Count > 0)
                                            {
                                                foreach (var attachment in Model.RecentAttachments)
                                                {
                                                    <div class="row">
                                                        <div class="col-md-12 text-left">
                                                            <img src="@attachment.User.AvatarPath" class="img-fluid img-raised rounded" style="height: 25px; width: 25px; margin-right: 5px;" />
                                                            <b>@attachment.User.FullName</b>
                                                            @attachment.Created.ToString("MM/dd/yyyy h:mm tt")
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <span class="col-md-1"></span>
                                                        <div class="col-md-9 text-left">
                                                            @attachment.Description
                                                        </div>
                                                        <div class="col-md-1 text-center">
                                                            <a href="@attachment.FilePath" target="_blank"><i class="material-icons brand-teritary-color">cloud_download</i></a>
                                                        </div>
                                                        <span class="col-md-1"></span>
                                                    </div>
                                                    <hr />
                                                }
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-md-12 text-center">
                                                        <p>You have no attachments.</p>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="statBreakdown">
                        <!-- stat breakdown -->
                        <!-- chart here? -->
                        <!-- FINISH CHARTING TODAY!!! -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section modals {
    

    <!--  Refined Details Modal -->
    <div class="modal fade" id="detailTargetWindow" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="max-width: 1100px; margin-left: auto; margin-right: auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- Header info (Ticket name & Id) -->
                    <h4 class="modal-title" id="headerTarget"><!-- header target--></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="text-left col-md-12">
                            <p class="text-muted" id="projPropTarget">

                            </p>
                        </div>
                    </div>
                    <!-- Description Section -->
                    <div class="row">
                        <div class="text-left col-md-12">
                            <p class="text-muted" id="descPropTarget">
                                <!-- description target-->
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-left text-muted">
                                Team Members:
                            </h3>
                        </div>
                    </div>
                    <hr />
                    <!-- Team Members -->
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Submitter Card-->
                            <div class="card" style="height: 512px;">
                                <div class="card-header bg-brand-primary text-center">
                                    <h6 style="color: white;">Ticket Submitter:</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4 vertical-align">
                                            <!-- submitter avatar target -->
                                            <img id="subDetailImg" src="" class="img-raised rounded img-fluid" style="height: 100px; width: 100px; margin-right: 7px; vertical-align: baseline;" />
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4 class="text-left" id="subPropTarget">
                                                        <!-- submitter name target-->
                                                    </h4>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p class="text-left">
                                                        Created:
                                                    </p>
                                                    <p class="text-left" id="crePropTarget">
                                                        <!-- created target -->
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Developer Card-->
                            <div class="card" style="height: 220px;">
                                <div class="card-header bg-brand-secondary text-center">
                                    <h6 style="color: white;">Assigned Developer:</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4 vertical-align">
                                            <!-- developer avatar target -->
                                            <img id="devDetailImg" src="" class="img-raised rounded img-fluid" style="height: 100px; width: 100px; margin-right: 7px; vertical-align: baseline;" />
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4 class="text-left" id="devPropTarget">
                                                        <!-- developer name target -->
                                                        Dale Daniels
                                                    </h4>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p class="text-left">
                                                        Updated:
                                                    </p>
                                                    <p class="text-left" id="updPropTarget">
                                                        <!-- updated target-->
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Ticket Labels (targetted) -->
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-left text-muted">
                                Tags
                            </h3>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <!-- Ticket Type -->
                            <div class="card">
                                <div class="card-header bg-brand-primary">
                                    <h6 style="color: white;">Type:</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <h4 class="text-muted" id="typePropTarget">
                                                <!-- type target-->
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- Ticket Status -->
                            <div class="card">
                                <div class="card-header bg-brand-teritary">
                                    <h6 style="color: white;">Status:</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="text-muted" id="statusPropTarget">
                                        <!-- status target-->
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- Ticket Priority -->
                            <div class="card">
                                <div class="card-header bg-brand-secondary">
                                    <h6 style="color: white;">Priority:</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="text-muted" id="priorityPropTarget">
                                        <!-- priority target-->
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-left text-muted">
                                Collections
                            </h3>
                        </div>
                    </div>
                    <hr />
                    <!-- Ticket Collections -->
                    <div class="accordion" id="collectionsAccordion">
                        <!-- comment collection card-->
                        <div class="card">
                            <div class="card-header brand-primary-color text-left whitebg" id="commentCollectionHeader" style="margin-left: 0px; margin-right: 0px;">
                                <button class="btn btn-wd btn-link brand-primary-color col-md-12 text-left" type="button" data-toggle="collapse" data-target="#commentcollapse">Comments</button>
                            </div>
                            <!-- Comment Collection-->
                            <div id="commentcollapse" class="collapse show brand-primary-color" data-parent="#collectionsAccordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- comment form -->
                                            @using (Html.BeginForm("Create", "TicketComments", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                <!-- hidden input needs to be targetted with a script-->
                                                <input id="commentTicketId" name="TicketId" type="hidden" value="" />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <input name="commentBody" class="form-control" placeholder="Write a comment." />
                                                        <button type="submit" class="btn btn-fab btn-round whitebg brand-primary-color"><i class="material-icons">keyboard_arrow_right</i></button>
                                                    </div>
                                                </div>
                                                    
                                            }
                                        </div>
                                    </div>
                                    <hr />
                                    <div id="commentCollTarget">
                                        <!-- comment collection goes here-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- attachment collection card-->
                        <div class="card">
                            <div class="card-header brand-teritary-color text-left whitebg" id="attachmentCollectionHeader" style="margin-left: 0px; margin-right: 0px;">
                                <button class="btn btn-wd btn-link brand-teritary-color col-md-12 text-left collapsed" type="button" data-toggle="collapse" data-target="#attachmentcollapse">Attachments</button>
                            </div>
                            <!-- Attachment Collection -->
                            <div id="attachmentcollapse" class="collapse brand-teritary-color" data-parent="#collectionsAccordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- attachment form -->
                                            @using (Html.BeginForm("Create", "TicketAttachments", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <!-- hidden input needs to be targetted with a script-->
                                                <input id="attachmentTicketId" name="TicketId" type="hidden" value="" />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <span class="col-md-2"></span>
                                                    <div class="col-md-10 text-left">
                                                        <input type="text" name="attachmentDescription" id="attachmentDescription" class="form-control" placeholder="Attachment Description"/>
                                                        <br />
                                                        <input type="file" name="FilePath" id="filePath" class="form-control" />
                                                        <button type="submit" class="btn btn-fab btn-round whitebg brand-primary-color"><i class="material-icons">keyboard_arrow_right</i></button>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <hr />
                                    <div id="attachCollTarget">
                                        <!-- attachment collection goes here-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- history collection card-->
                        <div class="card">
                            <div class="card-header brand-secondary-color text-left whitebg" id="historyCollectionHeader" style="margin-left: 0px; margin-right: 0px;">
                                <button class="btn btn-link brand-secondary-color col-md-12 text-left collapsed" type="button" data-toggle="collapse" data-target="#historycollapse">History</button>
                            </div>
                            <!-- History Collection -->
                            <div id="historycollapse" class="collapse brand-secondary-color" data-parent="#collectionsAccordion">
                                <div class="card-body">
                                    <div id="histCollTarget">
                                        <!-- history collection goes here-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer -->
                <div class="modal-footer" id="modalUserActions">
                    <!-- user actions will populate here -->
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script src="~/Scripts/modalinject.js"></script>
    <!-- AJAX chart call -->
    <script>

    </script>

}
