@model DG_BugTracker.Models.Project

@{
    ViewBag.Header = $"{Model.Name}";
    ViewBag.Subheader = $"Select the {Model.Name} team.";
}

<div style="padding-top: 100px;">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Model.Name
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Model.Description
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Model.Created.ToString("MM/dd/yyyy hh:mm tt")
        </dd>

    </dl>
</div>
<hr />
<h5 class="text-muted text-left">Your project has been made. Now you need to assign team members.</h5>
<br />
<h6 class="text-muted text-left">(Ctrl + click to assign multiple team members to this project)</h6>

@using (Html.BeginForm("ManageProjectUsers", "RoleManagement", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("ProjectId", Model.Id)
    <div class="row">
        <div class="col-md-4">
            Project Managers
            <!-- multiselect list here-->
            @Html.ListBox("ProjectManagers", null, htmlAttributes: new { @class = "col-md-12" })
        </div>
        <div class="col-md-4">
            Developers
            <!-- multiselect list here-->
            @Html.ListBox("Developers", null, htmlAttributes: new { @class = "col-md-12" })
        </div>
        <div class="col-md-4">
            Submitters
            <!-- multiselect list here-->
            @Html.ListBox("Submitters", null, htmlAttributes: new { @class = "col-md-12" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-left">
            <button type="submit" class="btn bg-brand-primary-solid">Assign Members</button>
        </div>
    </div>
}


