@model DG_BugTracker.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<!-- fill out form routing info!!!!!-->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("ProjectId", Model.Id)

    <div class="row">
        Project Managers
        @Html.ListBox("ProjectManagers")
    </div>
    <div class="row">
        Developers
        @Html.ListBox("Developers")
    </div>
    <div class="row">
        Submitters
        @Html.ListBox("Submitters")
    </div>
    <btn type="submit" class="btn btn-sm btn-success" >Assign</btn>
}




<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
