@model DG_BugTracker.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@using (Html.BeginForm("ManageProjectUsers", "RoleManagement", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("ProjectId", Model.Id)
<div class="row">
    <div class=" col-md-3 card card-stats">
        <div class="card-header card-header-success">
            <h5>
                Project Managers
            </h5>
        </div>
        <div class="card-body">
            <!-- multiselect list here-->
            @Html.ListBox("ProjectManagers", null, htmlAttributes: new { @class = "col-md-12" })
        </div>
    </div>
    <span class="col-md-1"></span>
    <div class=" col-md-3 card">
        <div class="card-header card-header-success">
            <h5>
                Developers
            </h5>
        </div>
        <div class="card-body">
            <!-- multiselect list here-->
            @Html.ListBox("Developers", null, htmlAttributes: new { @class = "col-md-12" })
        </div>
    </div>
    <span class="col-md-1"></span>
    <div class="col-md-3 card card-stats">
        <div class="card-header card-header-success">
            <h5>
                Submitters
            </h5>
        </div>
        <div class="card-body">
            <!-- multiselect list here-->
            @Html.ListBox("Submitters", null, htmlAttributes: new { @class = "col-md-12" })

        </div>
    </div>
</div>
     <div class="row">
         <div class="col-md-12 text-center">
             <button type="submit" class="btn btn-success btn-lg btn-wd">Assign Members</button>
         </div>
     </div>
}




<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
